/* css da pagina contatos */
.main-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    height: auto;

    margin-top:30px ;
    margin-bottom: 30px;

}

.main-content{
    /* border:1px solid orange; */
    min-width: 300px;
    width: auto;
    height: auto;
    padding: 20px;
    background-color: rgb(236, 236, 236);
    
}
.contatos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   gap: 10px;
   
}

.main-content h2{
    text-align: center;
    margin: 5px;
}
#fundo-branco{
    background-color: white;
}

/***** formulario *******/
address{
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
}

button{
    background-color: rgb(3, 142, 255);
    border-radius: 20px;
    height: 30px;
    border: none;
}

button:hover{
    background-color: rgb(2, 106, 191) ;
    color: aliceblue;
}

input{
    padding-left: 10px;
    border-radius: 15px;
    height: 30px;
    border:none;
    outline: none;
}


textarea{
    padding: 2px;
    border: 1px solid whitesmoke;
    border-radius:7px ;
    outline: none;
}

#disabled{
    background-color: rgb(154, 156, 156);
    color: aliceblue;
}
