/* CSS da pagina Destinos */

/* espaçamento */
.espacamento{
    margin-top: 100px;
    margin-bottom: 70px;

    font-size: 150%;
    text-align: center;
    color: rgb(43, 42, 42);
    width: auto;
    height: auto;
}

.img-background{
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 400px;

    background-attachment: local;
    background-position: center;
    background-image: url(../images/plano-de-fundo-inspirador.webp);
    background-size: cover;
    text-align: center;
}

#text-apresentation{
    font-size: 20px;
    color: white;
    text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.8);
}

.title h2{
    color: aliceblue;
}


/* -----MAIN-------- */
.destinos-container{
    background: linear-gradient(7deg, 
    rgb(251, 120, 7) 5%,
     rgb(55, 220, 249) 25%,
      rgb(24, 121, 249) 70%);


    margin-top: 30px;
    

    width: 100%;
    height: auto;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    gap: 100px;
}

.destinos-content{
    width: 85%;
    height: auto;
    margin: 15px;
}

.top-content{
    width: 100%;
    height: auto;
    /* margin-left: 3px; */
    gap: 7px;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

/* .image{
    margin-left: 4px;
} */

.title{
    width: auto;
    height: auto;
    margin-top: 5px;
    padding-left: 5px;
    font-size: 150%;
}

.descricao{
    font-weight: 500;
    font-size: 120%;
    color: white;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.205);
}

.descricao div{
    margin-left: 30px;
}

/* fim do main */



/* links-relacionados */
.link-relacionado{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;

    
    width: 100%;
    height: auto;
}

@media(min-width:600px){
    .link-relacionado{
        font-size: 130%;
    }
}


.link-relacionado a{
    text-decoration: underline;
}

