/* css da pagina de pesquisa */
#apresentacao {
    color: #0255fd;
    width: 43%;
}

#apresentacao p{
    color: #161616;
}

/* tabela sobre os postos */
.infos , th, td{
    padding-top: 30px;
    font-size: 90%;
}

.infos{
    max-width: 500px;
    height: auto;
    cursor: pointer;
    text-align: center;
}


#tabela-dinamica td, th{
    height: 30px;   
}

/* circulos que ficam abaixo da tabela de infos/tabela dinamica */
.circle{
    width: 15px;
    height: 15px;
    border: 2px solid #0255fd;
    border-radius: 50%;
}
/*circulo selecionado*/
.selected{
    width: 9px;
    height: 9px;
    background-color: #0255fd;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 3px;
}

/* div que ficam os circulos*/
#selecao{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

/* contem o titulo e os graficos */
.flex-container-collumn{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    margin-top: 20px ;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    gap: 20px;
    color:#0255fd ;
}

/* *****main****** */
.flex-tabela-container{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    
    column-width: 30%;
    gap: 20px;
}
.tabela-content{
    width: auto;
    height: auto; 
}

th, td {
    padding: 8px 12px;
    text-align: center;
}

@media(max-width:860px){
    #apresentacao{
        width: auto;
    }
}

@media(max-width:700px) {
    .tabela-content{
        width: auto;
        font-size: 80%;
    }
    
    .infos {
        font-size: 80%;
        margin-left: 5px;
        margin-right: 5px;
    }

    th, td {
    padding: 4px 8px;
    
    }

    #apresentacao{
        padding-left: 10px;
        height: auto;
    }

}

table {
    width: auto;
    height: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: rgb(113, 113, 113);
    border-radius: 10px;
    overflow: hidden;
   
}
table, th, td {
    color: rgb(221, 221, 221);
    border: 1px solid rgb(221, 221, 221);
    
}
 td , th{
    width: 20%;
}

th {
    background-color: rgb(22, 22, 22);
}

/* ******fim main ******* */

#voltar-topo{
    margin: 10px;
    text-align: center;
    text-decoration: underline blue;
}
#voltar-topo a{
    color: #0255fd;
    font-size: 20px;
    font-weight: 500;
}
